@{
    ViewData["Title"] = "Powodzenie płatności";
}

<div class="row">
    <div class="col-md-3">
        <h2>Twoja płatność zostawa zarejestrowana.</h2>
        <p>Za chwilę zostaniesz przekierowany na stronę głowną</p>
    </div>
</div>
