.front-background {
    background: url('/img/frontpage/front-page-background-knee.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 
}